body{
	margin: 0;
	background-color:  #ffffff;
}

header{
	background-color:#D8BFD8;
	text-align: center;
}

header h1{
	color: #000000;
}

header img{
	border-radius: 150px;
    width: 170px;
    border: 0px solid #483a94;
}